{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}


<form method="post">
    {% csrf_token %}

    <label>slum_name: </label>
    <input name="slum_name" value="{{Rapid_Slum_Appresal.slum_name}}">
    
    <br>
    <label>approximate_population: </label>
    <input name="approximate_population" value="{{Rapid_Slum_Appresal.approximate_population}}">
    
    <br>
    <label>toilet_cost: </label>
    <input name="toilet_cost" value="{{Rapid_Slum_Appresal.toilet_cost}}">
    
    <br>
    <label>toilet_seat_to_persons_ratio: </label>
    <input name="toilet_seat_to_persons_ratio" value="{{Rapid_Slum_Appresal.toilet_seat_to_persons_ratio}}">
    
    <br>
    <label>percentage_with_an_individual_water_connection: </label>
    <input name="percentage_with_an_individual_water_connection" value="{{Rapid_Slum_Appresal.percentage_with_an_individual_water_connection}}">
    <br>
    
    <label>Frequency_of_clearance_of_waste_containers: </label>
    <input name="frequency_of_clearance_of_waste_containers" value="{{Rapid_Slum_Appresal.frequency_of_clearance_of_waste_containers}}">
    
    <br>
    <label>Image1: </label>
    <input id="Image1" type="file" name="Image1" value="{{Rapid_Slum_Appresal.Image1}}">

     <br>
    <label>Image2: </label>
    <input id="Image2" type="file" name="Image2" value="{{Rapid_Slum_Appresal.Image2}}">
    
    <br>
    <label>Image3: </label>
    <input id="Image3" type="file" name="Image3" value="{{Rapid_Slum_Appresal.Image3}}">


    <br>
    <label>Image4: </label>
    <input id="Image4" type="file" name="Image4" value="{{Rapid_Slum_Appresal.Image4}}">

    <input type="hidden" name="id" value="{{RAPID_SLUM_APPRAISAL.id}}">
    <input type="submit" value="Submit">
</form>

{% endblock %}

{% block content %}

{% endblock %}

{% block sidebar %}
{% endblock %}
